
:root{
    --colorPrincipal:orange;
    --colorTexto:black;
    --colorCabecera:black;
}

#comentarios_contenido form{
    width: fit-content;
    display: inline-block;
}
form.editar{
    display: inline-block;
}
form.borrar{
    display: inline-block;
}
.btn_editar{
    background-color: transparent;
    color:yellow;
}
.btn_eliminar{
    background-color: transparent;
    color:red;
    
}
#comentarios_contenido>div{
    border-bottom: 3px solid var(--colorCabecera);
    border-radius: 5px;
    margin-bottom: 1em;
}
