@import "bourbon";
#comentarios_contenido form{
    width: fit-content;
    display: inline-block;
}
.ver{
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    animation: ver 0.5s ease-in;
}
.no-ver{
    display: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    animation: no-ver 0.5s ease-in;
}
#visor{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
}
#visor>img{
    transition: all 1s ease-in-out;
}
.imagenVisor{
    height: auto;
    animation:inherit;
    width: 0;
    height: 0;
    margin: 0;
}
.imgDisplay{
    width: 50%;
    height: auto;
}

@keyframes ver{
    from{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.7);
    }

}
@-webkit-keyframes ver{
    from{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        
    }
    to{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes no-ver{
    to{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
    }
    from{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.7);
    }

}
@-webkit-keyframes no-ver{
    to{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        
    }
    from{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.7);
    }
}