body
{
    background-image: url('https://wallpapercave.com/wp/wp2672827.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: 	no-repeat;
    
    
  }

/*--Pie--*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
#pie {
    margin:0;
    background-color: white;
    display: table-row;
    height: 0;
}

.banner
{
    background-color: rgba(205, 211, 216, 0.616);
}
/* Aqui empieza la cabecera */
#cabecera
{
    background-color: rgba(255, 255, 255, 0);;
    height: 150px;
    text-align: center;
    width: 100%;
}

.cuadrado
{
    background-color: rgb(207, 127, 81);
    height: 100px;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
}
.cuadrado h1
{
    
    padding-top: 2%;
}


.modal-body{
    padding: 0;
    margin:0;
}
.alert{
    margin:0;
}
