body
{
    background-image: url('https://wallpapercave.com/wp/wp2672827.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: 	no-repeat;
    
    
  }

/*--Pie--*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
#pie {
    margin:0;
    background-color: white;
    display: table-row;
    height: 0;
}

/* Aqui empieza la cabecera */
#cabecera
{
    background-color: rgba(255, 255, 255, 0);;
    height: 150px;
    text-align: center;
    width: 100%;
}
/* Para abrir el modal correctamente */
.modal-body{
    padding: 0;
    margin:0;
}
.alert{
    margin:0;
}
