
form{
    vertical-align: middle;
    width: 33%;
    margin: auto;
    background-color: white;
    margin-top: 2.5em;
    padding: 2.5em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    border-radius: 2em;
}
.btn{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 1em auto;

}
