/*--Menu--*/
#menu{
    width: 100%;
    margin: 0;
}

.navbar{
    z-index: 0;
  background-color: orange;
  padding: 0;  
}
.active{
    font-weight: bold;
}
.navbar-submenu-opener{
    border: 0;
    background-color: inherit;
}
.navbar-submenu-opener:focus{
    outline: none;
}
#submenu{
    position: absolute;
    width: 100%;
    height: 100%;   
    top: 0;
    color: #FFF;
}
.submenu{
    z-index: -1;
}
.submenu.deactive{    
    animation-name: cerrar;
    animation-duration: 1s;
}
/*
.submenu.deactive{
    
    background-color: rgba(0, 0, 0, 0);
}
*/
.submenu.active{
    z-index: 100;
    display: block;
    animation-name: abrir;
    animation-duration: 1s;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes abrir{
    from{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
    }

}
@-webkit-keyframes abrir{
    from{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        
    }
    to{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes cerrar{
    to{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
    }
    from{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
    }

}
@-webkit-keyframes cerrar{
    to{
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        
    }
    from{
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
#submenu a{
    text-decoration: none;
    color: white;
}
#submenu ul{
    height: fit-content;
    list-style: none;
    position: relative;
    width: fit-content;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    margin: auto;
    top:50%;
    animation: inherit;
    
}
#submenu li{
    vertical-align: middle;
}