/*--Menu--*/
#menu{
    width: 100%;
    margin: 0;
}

.navbar{
  background-color: orange;
  padding: 0;  
}
.active{
    font-weight: bold;
}
.navbar-submenu-opener{
    border: 0;
    background-color: inherit;
}
.navbar-submenu-opener:focus{
    outline: none;
}

#submenu{
    position: absolute;
    width: 100%;
    height: 100%;   
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
}

.submenu-active{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}